
<p><%= link_to 'new', new_task_path %></p>
<p><%= link_to '依結束日期排序', tasks_path(type:"end") %></p>
<p><%= link_to '依建立時間舊->新', tasks_path(type:"build") %></p>
<%= form_tag tasks_path, method: :get do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search..." %>
  <%= submit_tag "Search", name: nil %>
<% end %>
<%= form_tag tasks_path, method: :get do %>
  <%= select_tag :state, options_for_select(@states), include_blank: true %>
  <%= submit_tag "Go", name: nil %>
<% end %>
<h3>所有任務</h3>
<ul>
  <% @tasks.each do |task| %>
    <li><%= task.title %></li>
    <li><%= task.state.capitalize %></li>
    <li><%= task.created_at.strftime("%Y-%m-%d %H:%M:%S") %></li>
    <li><%= task.deadline.strftime("%Y-%m-%d %H:%M:%S") %></li>
    <%= link_to 'Show', task_path(task) %>
    <%= link_to 'Edit', edit_task_path(task) %>
    <%= link_to 'Destroy', task_path(task), method: :delete, data: {confirm: t('view.task.message.delete_confirm')} %>
  <% end %>
</ul>
