<% if @task.errors.present? %>
  <ul>
    <% @task.errors.each do |error, message| %>
      <li><%= "#{error.capitalize} #{message}" %></li>
    <% end %>
  </ul>
<% end %>
<%= form_for @task do |f| %>
  <%= f.label :title, 'Title' %>
  <%= f.text_field :title %>
  <%= f.label :content, 'Content' %>
  <%= f.text_area :content %>
  <%= f.label :deadline, 'Deadline' %>
  <%= f.datetime_select :deadline, start_year: Time.current.year %>
  <%= f.label :state, "State" %>
  <%= f.select(:state, options_for_select(Task.states.map { |key, value| [key.humanize, key] }))   %>
  <%= f.submit %>
<% end %>